
body {
  background-color: #a896d8;
}
section {
  background-color: rgb(228, 199, 224);
  border-radius: 15px;
  margin: 20px auto;
  max-width: 1400px;
  padding: 30px 30px 10px 30px;
}

.App {
  font-family: "Alkatra", system-ui;
  text-align: center;
}

h1 {
  color: rgb(175, 4, 175);
  font-size: 45px;
}
